---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Matthew Davidson
  </div>
  <div>
    <div class="text-[10px] opacity-50">
      Built with <a class="inline font-bold" href="https://astrofy-template.netlify.app/" target="_blank">Astrofy Template</a>
    </div>
</div>
</footer>
<style></style>
