---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "active";
---

<style>
    .sidebar-menu-item {
        font-family: var(--heading-font-family);
    }
</style>
    
<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class:list={["sidebar-menu-item py-2 text-base", { [activeClass]: sideBarActiveItemID === "home" }]} id="home" href="/">HOME</a></li>
    <li><a class:list={["sidebar-menu-item py-2 text-base", { [activeClass]: sideBarActiveItemID === "blog" }]} id="blog" href="/blog/">BLOG</a></li>
    <li><a class:list={["sidebar-menu-item py-2 text-base", { [activeClass]: sideBarActiveItemID === "now" }]} id="now" href="/now">NOW</a></li>
    <li>
        <a
            class="sidebar-menu-item py-2 text-base"
            href="mailto:matthew@modulolotus.net"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">CONTACT</a
        >
    </li>
</ul>
